html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  padding: 50px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  flex: 1;
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav h1 {
  font-size: 24px;
  margin: 0;
}

.nav-links {
  display: inline-flex;
  list-style: none;
  margin: 0;
  margin-right: 60px;
  padding: 10;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #899878;
}

section {
  display: block;
}

.title {
  text-align: center;
  margin-top: 100px;
}

.title h1 {
  font-size: 48px;
  margin: 0;
}

.content {
  margin-top: 50px;
}

.content h2 {
  font-size: 32px;
  margin: 0;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-me-text-container {
  width: 80%;
}

.about-me-container p {
  text-align: justify;
}

.portrait {
  width: 300px;
  flex-shrink: 0;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}
.portrait:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.projects {
  margin-top: 50px;
  padding: 15px;
}

.projects ul {
  list-style: square;
  margin: 0;
  padding: 0;
}

.projects li {
  margin-bottom: 20px;
}

.projects li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.projects li a:hover {
  color: #899878;
}

.skills {
  padding: 0;
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.skills-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.contact {
  margin-top: 50px;
}

.contact h2 {
  font-size: 32px;
  margin: 0;
}

i {
  margin-right: 10px;
  font-size: 30px;
  gap: 20px;
  color: #121113;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  cursor: pointer;
}

i:hover {
  color: #899878;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

footer {
  background-color: #000;
  color: #efeee7;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer ul li a:hover {
  color: #899878;
}

@media (max-width: 768px) {
  nav {
    padding: 10px;
    position: static;
    width: 100%;
  }

  .nav-links {
    /* display: none; */
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-right: 20px;
    justify-content: space-between;
    padding: 10px;
    position: static;
    width: 50%;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me-text-container {
    width: 100%;
  }
  .projects {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .skills-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
