html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  z-index: 2;
  margin-top: 60px;
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav h1 {
  font-size: 24px;
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #899878;
}

.title {
  text-align: center;
  margin-top: 100px;
}

.title h1 {
  font-size: 48px;
  margin: 0;
}

.content {
  margin-top: 50px;
}

.content h2 {
  font-size: 32px;
  margin: 0;
}

.projects {
  margin-top: 50px;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects li {
  margin-bottom: 20px;
}

.projects li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.projects li a:hover {
  color: #000;
}

.contact {
  margin-top: 50px;
}

.contact h2 {
  font-size: 32px;
  margin: 0;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer ul li a:hover {
  color: #899878;
}

@media (max-width: 768px) {
  nav {
    padding: 10px;
    position: static;
    width: 100%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }
}
